li {
    font-size:24px;
}

a {
    color:darkorchid; 
}

h2 {
    text-align:left;
}

p {
    text-align:left;
    margin:4px;
}
#quizBox {
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    width: 40%;
    margin:auto;
}

#start {
    background-color:darkorchid;
    color:white;
}

#choices {
    background-color:darkorchid;
    color:white;
    display:inline-block;
 

    /* width:40%; */
}

#answer {
    color:gray;
    font-style:italic;
}